.ban_index
    height: 400px
    background-image: url(./imag/sever-gb2018909a_1280.jpg)
    background-position: center
    background-size: cover
.titulo_index
    border: 2px solid aqua
    border-radius: 5px
    background-color: #ffffffa4
    width: 500px
    text-shadow: 0 0 10px white, 0 0 10px white, 0 0 10px white
.titulo_index a
    padding-bottom: 5px
    margin: 10px
    margin-left: 150px
    margin-right: 150px
    background-color: #fff
    color: blue
    font-weight: bold
    /* width: 100px */
    text-decoration: none
    display: flex
    justify-content: center
    border-radius: 10px
.titulo_index a:hover
    color: rgb(190, 190, 190) !important
.sec_s 
    text-align: center
    background-color: rgb(255, 255, 255)
.sec_s a
    text-decoration: none
    color: blue
    font-weight: bold
    font-size: 30px
.sec_s a:hover 
    color: grey
.ser
    background-color: rgba(127, 232, 255, 0.584)
    background-image: url("./imag/matrix.png")
    background-attachment: fixed
    background-size: cover
.ser img
    height: auto
    width: 100%
    background-size: cover
    border-radius: 50px 0 50px
    border: 2px solid aqua
    margin-top: 10px
    filter: grayscale(50%)
.ser img:hover
    transform: scale(0.97)
    filter: grayscale(0%)
.ser h3
    text-align: center
    color: #fff
    text-shadow: 0 0 3px black
.ser p
    text-align: center
    color: #fff
    text-shadow: 0 0 3px black
.sec_p 
    /* border: 2px solid red */
    padding: 0
    text-align: center
    background-color: rgb(255, 255, 255)
.sec_p a
    text-decoration: none
    color: blue
    font-weight: bold
    font-size: 30px
.sec_p a:hover 
    color: grey
.car
    background-image: url(./imag/linea_libre.jpg)
    background-size: cover
.carousel
    height: 700px
.carousel-item
    height: 700px
.carousel-caption 
    text-shadow: 0 0 5px black
    background-color: rgba(127, 138, 255, 0.412)
    border: 2px solid aqua
    color: #fff !important
    margin: 30px
    border-radius: 20px
